body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F26B5E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align:center;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_h1{
    font-size:15px;
}
.card {
    background-color: #f9a194;
    padding:30px 70px;
    border-radius:5px;
    box-shadow: 0px 4px 5px;
}
.card_input{
    padding: 10px 5px;
    width:300px;
    border:2px solid #444;
    border-radius:5px;
    font-size:15px; 

}
.card_h1{
    font-size:20px;
}
.card_p{
    font-size:15px;
}
